h1 {
  text-align: center;
  font-size: 60px;
}

.container {
  border: black solid 3px;
  border-radius: 10px;
  width: 600px;
  height: 600px;
  z-index: -1000;
  margin: 0 auto;
  background: cornflowerblue;
  padding-top: 15px;
  padding-left: 15px;
}

.square {
  box-sizing: border-box;
  border-radius: 10px;
  margin-right: 15px;
  margin-bottom: 15px;
  width: 135px;
  height: 135px;
  float: left;
  position: relative;
  background: cornsilk;
}

.piece {
  width: 40px;
  height: 40px;
  background: orange;
}
